<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DroppingBall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC2761C01D9E6083004DBDF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC2761D91D9E6086004DBDF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC2761E41D9E6086004DBDF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
