<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>陈大哥的小弟弟</string>
		<key>messageContent</key>
		<string>Hi，美女，有兴趣聊一聊吗？然后文字可能就没有了。</string>
		<key>messageCount</key>
		<string>18999</string>
		<key>latestMessageRecivedTime</key>
		<string>12:32</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>恶俗的名字</string>
		<key>messageContent</key>
		<string>Hi，美女，有兴趣聊一聊吗？然后文字可能就没有了。</string>
		<key>messageCount</key>
		<string>18999</string>
		<key>latestMessageRecivedTime</key>
		<string>12:32</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>形点网络</string>
		<key>messageContent</key>
		<string>牛逼吊炸天</string>
		<key>messageCount</key>
		<string>3</string>
		<key>latestMessageRecivedTime</key>
		<string>10：33</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>呵呵呵</string>
		<key>messageContent</key>
		<string>然后就没有然后了。。。</string>
		<key>messageCount</key>
		<string>18999</string>
		<key>latestMessageRecivedTime</key>
		<string>12:32</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>呵呵呵</string>
		<key>messageContent</key>
		<string>然后就没有然后了。。。</string>
		<key>messageCount</key>
		<string>18999</string>
		<key>latestMessageRecivedTime</key>
		<string>12:32</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>呵呵呵</string>
		<key>messageContent</key>
		<string>然后就没有然后了。。。</string>
		<key>messageCount</key>
		<string>18999</string>
		<key>latestMessageRecivedTime</key>
		<string>12:32</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>呵呵呵</string>
		<key>messageContent</key>
		<string>然后就没有然后了。。。</string>
		<key>messageCount</key>
		<string>18999</string>
		<key>latestMessageRecivedTime</key>
		<string>12:32</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>呵呵呵</string>
		<key>messageContent</key>
		<string>然后就没有然后了。。。</string>
		<key>messageCount</key>
		<string>18999</string>
		<key>latestMessageRecivedTime</key>
		<string>12:32</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>呵呵呵</string>
		<key>messageContent</key>
		<string>然后就没有然后了。。。</string>
		<key>messageCount</key>
		<string>18999</string>
		<key>latestMessageRecivedTime</key>
		<string>12:32</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>呵呵呵</string>
		<key>messageContent</key>
		<string>然后就没有然后了。。。</string>
		<key>messageCount</key>
		<string>18999</string>
		<key>latestMessageRecivedTime</key>
		<string>12:32</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>呵呵呵</string>
		<key>messageContent</key>
		<string>然后就没有然后了。。。</string>
		<key>messageCount</key>
		<string>18999</string>
		<key>latestMessageRecivedTime</key>
		<string>12:32</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>呵呵呵</string>
		<key>messageContent</key>
		<string>然后就没有然后了。。。</string>
		<key>messageCount</key>
		<string>18999</string>
		<key>latestMessageRecivedTime</key>
		<string>12:32</string>
	</dict>
	<dict>
		<key>distance</key>
		<string>1111.1km</string>
		<key>name</key>
		<string>呵呵呵</string>
		<key>messageContent</key>
		<string>然后就没有然后了。。。</string>
		<key>messageCount</key>
		<string>18999</string>
		<key>latestMessageRecivedTime</key>
		<string>12:32</string>
	</dict>
</array>
</plist>
