<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RegisterNotificationMultipleTimes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC3AC62A1D4F334200C129B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC3AC6431D4F334200C129B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC3AC64E1D4F334200C129B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
